@import url(https://fonts.googleapis.com/css?family=Tangerine|Marmelad|Artifika|Belleza|Maven+Pro);


/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
    padding-top: 5rem;
    color: #FFFFFF;
}
.navbar-brand{
    font-family: Marmelad;
    color: #000;
}
.navbar-brand:hover
{
    color: #1a1a1a;
}
.nav-link
{
    font-family: Marmelad;
    font-size: 22px;
    font-weight: 900;
    color: #f5f8fa;
    text-decoration: none;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
;
}
.nav-link:hover
{
    color: #1a1a1a;
}

div.topBottomBordersOut .nav-link:before,div.topBottomBordersOut .nav-link:after
{
    position: absolute;
    left:0;
    width:100%;
    height: 2px;
    background: #f5f8fa;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}
div.topBottomBordersOut .nav-link:before
{
    top:0px;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
}
div.topBottomBordersOut .nav-link:after
{
    bottom: 0;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}
div.topBottomBordersOut .nav-link:hover:before,
div.topBottomBordersOut .nav-link:hover:after
{
    color: #f5f8fa;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}
.social-media
{
margin-right: 1rem;
    color: #000;
}
.social-media:hover
{
    color: #000;
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
    margin-bottom: 1rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {

}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 35rem;
    background-color: #777;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 40rem;
}
.jumbotron
{
    color: #1a1a1a;
}
h5
{
    padding-top: 1rem;
    text-decoration: underline;
}
.navbar-toggler
{
    background-color: #1a1a1a;
    color: #000;
}
.navbar-toggler-icon
{
    background-color: #f5f8fa;
}
footer
{
    font-size: 22px;
}