<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

	<!-- Start WOWSlider.com HEAD section --> <!-- add to the <head> of your page -->
	<link rel="stylesheet" type="text/css" href="engine0/style.css" />
	<script type="text/javascript" src="engine0/jquery.js"></script>
	<!-- End WOWSlider.com HEAD section -->
	<!-- Start WOWSlider.com HEAD section --> <!-- add to the <head> of your page -->
	<link rel="stylesheet" type="text/css" href="engine0/style.css" />
	<!--script type="text/javascript" src="engine0/jquery.js"></script-->
	<!-- End WOWSlider.com HEAD section --></head>
<body>

<h4> Testing 1..2..3 </h4>
	<!-- Start WOWSlider.com BODY section --> <!-- add to the <body> of your page -->
	<div id="wowslider-container0">
	<div class="ws_images"><ul>
		<li><img src="data0/images/interiordesign4.jpg" alt="interior-design4" title="interior-design4" id="wows0_0"/></li>
		<li><img src="data0/images/interiordesign5.jpg" alt="interior-design5" title="interior-design5" id="wows0_1"/></li>
		<li><img src="data0/images/interiordesign7.jpg" alt="interior-design7" title="interior-design7" id="wows0_2"/></li>
		<li><a href="http://wowslider.net"><img src="data0/images/projects1.jpg" alt="slider jquery" title="projects-1" id="wows0_3"/></a></li>
		<li><img src="data0/images/projects6.jpg" alt="projects-6" title="projects-6" id="wows0_4"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="interior-design4"><span><img src="data0/tooltips/interiordesign4.jpg" alt="interior-design4"/>1</span></a>
		<a href="#" title="interior-design5"><span><img src="data0/tooltips/interiordesign5.jpg" alt="interior-design5"/>2</span></a>
		<a href="#" title="interior-design7"><span><img src="data0/tooltips/interiordesign7.jpg" alt="interior-design7"/>3</span></a>
		<a href="#" title="projects-1"><span><img src="data0/tooltips/projects1.jpg" alt="projects-1"/>4</span></a>
		<a href="#" title="projects-6"><span><img src="data0/tooltips/projects6.jpg" alt="projects-6"/>5</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">css slider</a> by WOWSlider.com v8.8</div>
	<div class="ws_shadow"></div>
	</div>	
	<script type="text/javascript" src="engine0/wowslider.js"></script>
	<script type="text/javascript" src="engine0/script.js"></script>
	<!-- End WOWSlider.com BODY section -->

{{--<div id="projectsCarousel" class="carousel slide" data-ride="carousel">
	<ol class="carousel-indicators">
		<li data-target="#projectsCarousel" data-slide-to="0" class="active" style="height: 30px;"></li>
		<li data-target="#projectsCarousel" data-slide-to="1" class="" style="height: 30px;"></li>
		<li data-target="#projectsCarousel" data-slide-to="2" class="" style="height: 30px;"></li>
		<li data-target="#projectsCarousel" data-slide-to="3" class="" style="height: 30px;"></li>
		<li data-target="#projectsCarousel" data-slide-to="4" class="" style="height: 30px;"></li>
	</ol>
	<div class="carousel-inner">
		<div class="carousel-item active bg-light"  style="height: 620px;">
			<img src="images/projects-1.jpg"  class="d-block w-100  animated zoomIn" alt="">
			<div class="carousel-caption text-left">
				<h1 class="display-4 animated slideInRight">Need a Buiding Contractor/Interior Designer?</h1>
				<p><button class="btn btn-lg btn-danger animated bounceInLeft">Call Now To Get Started</button></p>
				<h3 class="display-5 animated rotateInDownRight"> <a href="#" style="color: #f5f5f5;">click to view our projects</a> </h3>
			</div>
		</div>
		<div class="carousel-item bg-light" style="height: 620px;">
			<img src="images/projects-3.jpg" class="d-block w-100 animated zoomIn" alt="">
			<div class="carousel-caption text-right">
				<h1 class="display-4 animated slideInLeft">For Quality Building Contractors</h1>
				<p><button class="btn btn-lg btn-danger animated bounceInRight">Call Now To Get Started</button></p>
				<h3 class="display-5 animated rotateInDownLeft"> <a href="#" style="color: #f5f5f5;">click to view our projects</a> </h3>
			</div>
		</div>

		<div class="carousel-item bg-light" style="height: 620px;">
			<img src="images/projects-4.jpg" class="d-block w-100 animated zoomIn" alt="">
			<div class="carousel-caption text-left">
				<h1 class="display-4 animated slideInRight">For Creative Interior Design</h1>
				<p><button class="btn btn-lg btn-danger animated bounceInLeft">Call Now To Get Started</button></p>
				<h3 class="display-5 animated rotateInDownRight"> <a href="#" style="color: #f5f5f5;">click to view our projects</a> </h3>
			</div>
		</div>
		<div class="carousel-item bg-light" style="height: 620px;">
			<img src="images/projects-5.jpg" class="d-block w-100 animated zoomIn" alt="">
			<div class="carousel-caption text-right">
				<h1 class="display-4 animated slideInLeft">Building Contractor Needed?</h1>
				<p><button class="btn btn-lg btn-danger animated bounceInRight">Call Now To Get Started</button></p>
				<h3 class="display-5 animated rotateInDownLeft"> <a href="#" style="color: #f5f5f5;">click to view our projects</a> </h3>
			</div>
		</div>
		<div class="carousel-item bg-light" style="height: 620px;">
			<img src="images/projects-6.jpg" class="d-block w-100 animated zoomIn" alt="">
			<div class="carousel-caption text-left">
				<h1 class="display-4 animated slideInRight">Interior Designer Needed?</h1>
				<p><button class="btn btn-lg btn-danger animated bounceInLeft">Call Now To Get Started</button></p>
				<h3 class="display-5 animated rotateInDownRight"> <a href="#" style="color: #f5f5f5;">click to view our projects</a> </h3>
			</div>
		</div>

	</div>

	<a class="carousel-control-prev" href="#projectsCarousel" role="button" data-slide="prev" style="color: #f44336;">
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	</a>


	<a class="carousel-control-next" href="#projectsCarousel"  role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	</a>

</div>--}}


</body>
</html>